@charset "UTF-8"; /* Coloque apenas em arquivos CSS separados, para compatibilidade de acentuação. */
@import "folha.css";

/* O root é pra declarar variáveis em CSS, estas são declaradas com dois -- na frente: */

:root {
    --cor0: gray;
    --cor1: #83e1ad;
    --fonte-padrao: Arial, sans-serif;
}

* {
    font-family: var(--fonte-padrao);
}

body {
    background-color: var(--cor0);
    background-image: url("../imagens/fundo.png") !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    background-attachment: fixed;
}

main {
    background-color: rgba(0, 0, 64, 0.95) !important;
    color: white !important;
    padding: 20px;
    width: 85%;
    min-width: 240px;
    max-width: 800px;
    margin: auto;
    font-family: Arial, sans-serif !important;
    border-radius: 25px;
}

img {
    display: block;
    margin: auto;
    width: 100%;
}

picture img {
    width: auto;
    max-width: 100%;
}

img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

a {
    color: cyan;
    text-decoration: none;
}

a:hover {
    color: lightcyan;
    text-decoration: underline;
}

ul li {
    font-family: Arial;
    font-size: 13pt;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

p span {
    text-decoration: blink;
}

h2 {
    text-shadow: 1px -1px black, -1px 1px black, 1px 1px black, -1px -1px black;
}

pre {
    white-space: pre-wrap;
    overflow-wrap: break-word;
}